<h1>Formulário de Criação de Curso</h1>

    <form action="/curso/create" method="post">
        <div class="form-group">
            <label for="sigla" class="form-label mt-4">Sigla do curso</label>
            <input 
                type="text" 
                name="sigla" 
                class="form-control" 
                id="sigla" 
                aria-describedby="siglaHelp" 
                placeholder="IE17"
            >
            <small id="siglaHelp" class="form-text text-muted">Insira o código do curso desejado. Em caso de dúvida, acesse o site da UFAM</small>
        </div>

        <div class="form-group">
            <label for="nome" class="form-label mt-4">Nome</label>
            <input 
                type="text" 
                name="nome" 
                class="form-control" 
                id="nome" 
                aria-describedby="nomeHelp" 
                placeholder="Engenharia de Software"
            >
        </div>

        <div class="form-group">
            <label for="descricao" name="descricao" class="form-label mt-4">Descrição do curso</label>
            <textarea class="form-control" name="descricao" id="descricao" rows="3"></textarea>
        </div>

        <fieldset class="form-group">
            <legend class="mt-4">Área de conhecimento</legend>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="areaId" id="areaId1" value="1"  checked>
                <label class="form-check-label" for="exatas">
                    Exatas
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="areaId" id="areaId2" value="2">
                <label class="form-check-label" for "humanas">
                    Humanas
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="areaId" id="areaId3" value="3">
                <label class="form-check-label" for="biologicas">
                    Biologicas
                </label>
            </div>
        </fieldset>
        <button type="submit" name="my-button" id="my-button" class="btn btn-primary mt-4" >Adicionar Curso</button>
    </form>
