<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header">{{curso.sigla}}</div>
    <div class="card-body">
        <h4 class="card-title">{{curso.nome}} </h4>
        <p class="card-text">Descrição: {{curso.descricao}}</p>
        <p class="card-text">Área: {{curso.areaId}}</p>
    </div>
</div>