<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
    <div class="card-header"><i class="fa-regular fa-pen-to-square"></i> <i class="fa-solid fa-trash"></i> {{curso.sigla}}</div>
    <div class="card-body">
        <h4 class="card-title">{{curso.nome}} </h4>
        <p class="card-text">Descrição: {{curso.descricao}}</p>
        <p class="card-text">Área: {{curso.Area.nome}}</p>
    </div>
</div>