input {
    width: 35px;
}

p {
    display: inline;
}

.barra {
    background-color: red;
    margin: 1px;
    height: 0px;
    width: 0px;
}

.barras {
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
