<h1> O Jogo do Trex </h1>
<p> T-Rex Game, também denominado Chrome Dino é um jogo integrado ao navegador Google Chrome. 
    O jogo foi criado por Edward Jung, Sebastien Gabriel e Alan Bettes em 2014 como um easter egg 
    que aparece quando estiver offline e fizer uma pesquisa no Google Chrome
</p>
<img src="img/xadrez.png" height="200px">
<p>
    Durante o jogo, o T-Rex se move continuamente da esquerda para a direita em uma paisagem deserta 
    em preto e branco, e o jogador tenta evitar os obstáculos que se aproximam, como cactos e pteranodontes, 
    pulando ou agachando-se. À medida que o jogo avança, a velocidade do jogo aumenta gradualmente até que o 
    usuário bata em um obstáculo ou pterossauro, resultando em um fim de jogo instantâneo.
</p>