<h1> O Jogo de Xadrez </h1>
<p> O xadrez é um jogo de tabuleiro, de caráter competitivo, disputado entre
    dois participantes. Cada um é representado por peças de cores opostas, geralmente
    são utilizadas pretas e brancas. O objetivo do jogo é conquistar o "rei" de
    seu adversário.
</p>
<img src="img/xadrez.png" height="200px">
<p>
    Para jogar é necessário um tabuleiro composto por oito colunas e oito linhas, o que
    resulta em 64 casas possíveis para a mobilidade das peças. S peças são compostas
    de oitr peões, duas torres, dois cavalos, dois bispos, um rei e uma rainha.
</p>